
- name: 'Find DB Groups'
  when: osdbagrp_groups is not defined
  include_role:
    name: 'target_common'
    tasks_from: 'map_groups.yml'
  vars:
    image_type: 'db'
    target_user: 'oracle'

- block:
  - name: 'Add RDBMS Workingcopy {{ wc_name }}'
    include_role:
      name: 'fpp_common'
      tasks_from: 'wc_add.yml'
    vars:
      target_node: '{{ ansible_hostname }}'
      path: '{{ oracle_home }}'
      add_wc_param: '-skipclone -oraclebase {{ oracle_base }} -user oracle'

  - name: 'Query RDBMS Workingcopy {{ wc_name }}'
    include_role:
      name: 'fpp_common'
      tasks_from: 'wc_query.yml'
  
  delegate_to: '{{ fpp_host }}'