
- name: 'Check if Provided Image Exists'
  import_role:
    name: 'fpp_common'
    tasks_from: 'image_query.yml'
  delegate_to: '{{ fpp_host }}'
  run_once: 'true'

# Set working copy name and check if it already exists

# TO EDIT: wc_name pattern
- set_fact:
    wc_name: 'wc_{{ image_name }}_{{ ansible_hostname | regex_findall("(.+?)-") | first }}'

- block:
  - name: 'Check if WC Exists'
    include_role:
      name: 'fpp_common'
      tasks_from: 'wc_query.yml'
    vars:
      ignore_errors_flag: 'yes'
  - fail:
      msg: 'Working copy with name {{ wc_name }} already exists. Run on {{ ansible_hostname }} again with custom wc_name provided.'
    when: not query_wc_result.stdout | regex_search("does not exist")
  delegate_to: '{{ fpp_host }}'

- name: 'Set Current GI Home'
  include_role:
    name: 'target_common'
    tasks_from: 'gihome_info.yml'

# Create new home if existing_home is false and add to FPP

- name: 'Creating WC with New Home'
  include_tasks: 'gi_wc_add_new.yml'
  when: existing_home is not defined or existing_home is false

# If existing_home is true, register to FPP

- name: 'Creating WC with Existing Home'
  include_tasks: 'gi_wc_add_existing.yml'
  when: existing_home is defined and existing_home is true

- block:
  - name: 'Query GI Workingcopy {{ wc_name }}'
    include_role:
      name: 'fpp_common'
      tasks_from: 'wc_query.yml'
  delegate_to: '{{ fpp_host }}'